/* ***************************************** */
@media screen and (max-width:600px) {
    body {
        margin: 0 auto;

    }

    .primary-button {
        width: auto;
    }

    .header {
        display: flex;
        flex-direction: column;

        margin-top: 25px;
    }

    .header .logo-title {
        display: flex;
        justify-content: center;
    }

    .header .navigation {
        text-align: center;

    }

    .header .navigation ul li {
        margin: auto;
        display: inline;
        padding: 10px 0px;
        justify-content: center;

    }

    .banner {
        background-image: url("Images/1.png"), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 22px;
        border-radius: 12px;
    }

    .banner .banner-title h2 {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
        margin: auto;
        padding: 30px;
    }

    .banner .banner-title p {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
        margin: auto;
        padding: auto;
    }

    .banner .travel-filter {
        flex-direction: column;
    }

    .banner .travel-filter input,
    option,
    select {
        width: auto;
        height: 52px;
        border: 0;
        border-radius: 8px;
        background: #FFF;
        padding: 0 15px;
    }

    .Popular-Tours {
        margin-top: 20px;
        display: flex;
        flex-direction: column;


    }

    .Popular-Tours .tour-information {
        width: 80%;
        padding: 10%;
        margin: 0;
    }

    .Popular-Tours .tour-image {
        width: 80%;
        padding: 10%;
        margin: 0;

    }

    .destination {
        margin-top: 30px;
    }

    .destination p {
        margin: 0 10% 20px;

    }

    .destination .destination-images {
        display: grid;
        grid-template-areas:
            "image-1"
            "image-2"
            "image-3"
            "image-4"
            "image-5"
            "image-6"
            "image-7";
    }

    #image-1,
    #image-2,
    #image-3,
    #image-4,
    #image-5,
    #image-6,
    #image-7 {
        width: 90%;
        height: 90%;
        padding: 5%;
    }

    #image-7 {

        margin: 0;
    }

    .Why-Choose-Us .key-feature h4 {
        color: #131318;
        text-align: left;
        padding-left: 32px;
        font-size: 20px;
        font-weight: 800;
    }

    .Why-Choose-Us .key-feature p {
        margin: 10px 10%;
        text-align: left;
        font-size: 14px;

    }

    .Why-Choose-Us p {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 10% 16px;
    }

    .key-feature {

        grid-template-areas:
            "key-feature1"
            "key-feature2"
            "key-feature3"
    }

    .Why-Choose-Us .key-feature .key-feature-up {
        flex-direction: column;
    }

    #key-feature1,
    #key-feature2,
    #key-feature3 {
        margin: 15px 10%;
        width: 80%;
        padding: 0;
        gap: 0;
    }

    .feature-video-section {
        display: flex;
        flex-direction: column;
        padding: 0 10%;
        margin: 0 auto;

    }

    .feature-video-section .feature-video-section-content>h3 {
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
    }

    .feature-video-section>.primary-button {
        width: 60%;
    }

    .feature-video-section .feature-video-section-content {
        width: 100%;
        margin: 30px auto;


    }

    .feature-video-section .feature-video {
        width: 100%;
    }

    .Newsletter {
        /* display: flex;
        flex-direction: column;
        align-items: center;
    } */

    #Newsletter-hr {
        /* width: 90%; */
    }

    .Newsletter .Newsletter-form {
        /* width: 80%;
        display: flex;
        align-items: center;
        margin: 30px 0;
        flex-direction: column; */
    }

    .Newsletter .Newsletter-form input {
        /* display: block;
        border-radius: 8px;
        width: 200%;
        padding: 12px 15px;
        margin: 15px 50px 0px -100px;
        background: rgba(19, 19, 24, 0.05); */
    }

    #Newsletter-button {
        /* width: 225%;
        padding: 12px 15px;
        margin: 15px -100px; */
    }

    .Newsletter .Newsletter-image {
        /* width: 80%; */
    }

    .Newsletter .Newsletter-image .image-over-text {
        /* background: #FF5400;
        width: 252px;
        text-align: center;
        padding: 1px;
        border-radius: 10px;
        margin: 33% 46%;
        rotate: -30deg; */
    }

    /* .Newsletter .Newsletter-image .image-over-text {
        background: #FF5400;
        /* width: 282px; */
        text-align: center;
        padding: 1px;
        border-radius: 10px;
        margin: 34% 41%;
        rotate: -30deg;
        position: relative; */
    }

    .Newsletter .Newsletter-image .image-over-text>p {
        /* color: #FFF;
        font-size: 24px;
        font-weight: 400;
        margin: 5px 0px; */

    }

    .Newsletter .Newsletter-image .image-over-text>h3 {
        /* color: #FFF;
        font-size: 32px;
        font-weight: 800;
        margin: 5px 0px; */

    }
    /* .footer {
        margin-top: 30px;
        background: rgba(19, 19, 24, 0.05);
        text-align: center;
    }
    .footer > small {
        text-align: center;
        margin: 0;
    } */



}