@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common Design */
* {
    font-family: Mulish;

}

main {
    margin: 0 9%;
}

._2nd_Color {
    color: #FF5400;
    font-weight: 800;
}

.primary-button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 0px;

}

.primary-button:hover {
    background: #db2911;
}

/* Header Design */
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.header .logo-title {
    display: flex;
}

.header .logo-title .logo {}

.header .logo-title .title {}

.header .logo-title .title h1 {
    color: #131318;
    font-weight: 800;
    font-size: 36px;
    margin-top: 0px;
    padding: 0px 20px;
}

.header .navigation {
    text-align: right;

}

.header .navigation ul {
    list-style: none;
}

.header .navigation ul li {
    margin-left: 44px;
    display: inline;
    padding: 10px 0px;
    justify-content: center;

}

.header .navigation ul li a {
    text-decoration: none;
    padding: 5px;

}

.header .navigation ul li a:hover {
    border: 1px solid rgba(79, 78, 78, 0.702);
    background-color: rgba(228, 228, 228, 0.92);
    border-radius: 6px;
}

/* Banner Section Design */
.banner {
    background-image: url("Images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 122px;
    border-radius: 12px;
}

.banner .banner-title {
    text-align: center;

}

.banner .banner-title h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin: auto;
    padding: 160px 0px 0px;
}

.banner .banner-title p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: auto;
    padding: 24px 0px 0px;
}

.banner .travel-filter {
    justify-content: center;
    display: flex;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 48px 20%;
}

.banner .travel-filter input,
option,
select {
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    padding: 0 15px;
}

/* Our Popular Tours */
.Popular-Tours {
    margin-top: 100px;
    display: flex;

    justify-content: space-between;

}

.Popular-Tours .tour-information {
    width: 40%;
    text-align: justify;
}

.Popular-Tours .tour-information h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.Popular-Tours .tour-information p,
ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.Popular-Tours .tour-image {
    width: 40%;
    padding-left: auto;

}

.Popular-Tours .tour-image img {
    width: 100%;
}

/* Choose Your Destination */
.destination {
    margin-top: 100px;

}

.destination h3,
.Why-Choose-Us h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination p,
.Why-Choose-Us p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 30% 48px;
}

/* Image Grid */
#image-1 {
    grid-area: image-1;
}

#image-2 {
    grid-area: image-2;
}

#image-3 {
    grid-area: image-3;
}

#image-4 {
    grid-area: image-4;
}

#image-5 {
    grid-area: image-5;
}

#image-6 {
    grid-area: image-6;
}

#image-7 {
    grid-area: image-7;
}

.destination .destination-images {
    display: grid;
    grid-template-areas:
        "image-1   image-1   image-2  image-2"
        "image-3   image-4  image-4   image-5"
        "image-6   image-6   image-7  image-7";
    gap: 15px;
}

.destination .destination-images img {
    width: 100%;
    height: 300px;
}

#image-6 {
    width: 81%;
}

#image-7 {
    width: 120%;
    margin-left: -155px;
}

.image-country {
    position: relative;
    text-align: center;
    color: white;
}

.show-image-country {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 800;

}

/* Why Choose Us */

.Why-Choose-Us .key-feature img {
    margin-top: 32px;
    margin-left: 32px;
}

.Why-Choose-Us .key-feature h4 {
    color: #131318;
    text-align: left;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 800;
}

.Why-Choose-Us .key-feature p {
    margin: 0px 55px 32px 32px;
    text-align: left;
}


#key-feature1 {
    /* width: 750px; */
    border: 1px solid rgba(251, 181, 99, 0.20);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);

}

#key-feature2 {
    /* width: 750px; */
    border: 1px solid rgba(41, 206, 246, 0.20);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}

#key-feature3 {
    /* width: 750px; */
    border: 1px solid rgba(233, 68, 68, 0.20);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    margin: 0 25%;
}

.Why-Choose-Us .key-feature .key-feature-up {
    display: flex;
    /* padding-left: 7%; */
    gap: 20px;
}

.Why-Choose-Us .key-feature .key-feature-down {
    display: flex;
    margin: 20px auto;
    justify-content: center;

}

.Deals-and-Discounts {}
#right{
    margin: 56px auto 56px 56px;
}
#left{
    margin: 56px 56px 56px auto;

}
.Deals-and-Discounts > h2{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.Deals-and-Discounts >p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}

.Deals-and-Discounts .travel-location-offer {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 389px;
    
    padding: 20px;
}
.Deals-and-Discounts span{
    color: #FF5400;
font-size: 16px;
font-weight: 400;
padding-right: 20px;
}
.Deals-and-Discounts h4{
    display: inline;
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
}


.Deals-and-Discounts .travel-location-1 {
    background-image: url("Images/1.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 56px;
    margin-bottom: 30px;
}

.Deals-and-Discounts .travel-location-2 {
    background-image: url("Images/2.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 56px;
    margin-bottom: 30px;
}

.Deals-and-Discounts .travel-location-3 {
    background-image: url("Images/3.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 56px;
    margin-bottom: 30px;
}

.feature-video-section {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

.feature-video-section .feature-video-section-content {
    width: 50%;
    padding-right: 10%;
    /* margin: 100px auto; */
}


.feature-video-section .feature-video-section-content>h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.feature-video-section .feature-video-section-content>p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.feature-video-section .feature-video-section-content ul {}

.feature-video-section .feature-video-section-content ul li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.feature-video-section .feature-video {
    width: 50%;
}

.feature-video-section .feature-video iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Customer Review */
#customer-feedback {
    text-align: center;
    color: #131318;
    font-weight: 800;
    padding-bottom: 15px;
    border-bottom: 1px dotted;
}

.feedback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 80px;
}

.feedback .customer-feedback {
    /* height: 100px; */
    padding: 20px;
    min-width: auto;
    max-width: 400px;
    border: 1px solid darkorange;
    border-radius: 16px;
    background: rgb(237, 243, 243);

}

.feedback .customer-feedback p {
    text-align: justify;
}

/* Newsletter section */
.Newsletter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.Newsletter .Newsletter-form {
    width: 33%;
    border: 1px solid #FF5400;
    border-radius: 16px;
    padding: 40px;
}

.Newsletter .Newsletter-form p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.Newsletter .Newsletter-form h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}


.Newsletter .Newsletter-form form {}

.Newsletter .Newsletter-form input {
    display: block;
    width: calc(100% - 12px);
    padding: 12px 0px 12px 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: 0;
    background: rgba(19, 19, 24, 0.05);

}

#Newsletter-button {
    width: 100%;
}

#Newsletter-hr {
    /* width: 74%;
    text-align: left;
    margin-left: 0px; */
}

.Newsletter .Newsletter-image {
    position: relative;
    width: 60%;
    height: 422px;
    background-image: url(Images/9.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;
}

.Newsletter .Newsletter-image img {
    /* width:max-content; */
}

.Newsletter .Newsletter-image .image-over-text {
    position: absolute;
    top: 65%;
    left: 69%;
    padding: 10px;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    rotate: -20deg;
}

.Newsletter .Newsletter-image .image-over-text>p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin: 5px;
}

.Newsletter .Newsletter-image .image-over-text>h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    margin: 5px;
}

.footer {

    margin-top: 50px;
    padding-bottom: 20px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.footer .footer-logo-title {
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

.footer .footer-logo-title img {
    padding: 20px
}

.footer .footer-logo-title .footer-title {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    line-height: 0%;
    padding: 0;
    margin: 0;
}

.footer p {
    width: 40%;
    padding: 0 30% 10px;
}

.footer .footer-socila-media {
    padding-bottom: 50px;
}

.footer .footer-socila-media img {
    height: 50px;
    width: 50px;
    padding: 15px;
    margin: 5px;
}

.footer .footer-socila-media img:hover {
    background: #bd9a8225;
    border-radius: 50%;
}

.footer hr {
    margin: 10px 20%;
}

.footer .small {
    margin-bottom: 20px;
}